<header>
    <div class="app-title">MyInsta</div>
    <div class="auth">
        {{#username}}
            환영합니다, {{username}}님! <a href="/logout">Logout</a>
        {{/username}}
        {{^username}}
            <a href="/login">Login</a>
            <a href="/signup">signup</a>
        {{/username}}
    </div>
</header>